In [60]:
import pandas as pd
import numpy as np
from pandas import read_csv
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt

# Make numpy values easier to read.
np.set_printoptions(precision=3, suppress=True)
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option("display.width", 1000)
pd.set_option("display.colheader_justify", "center")
pd.set_option("display.precision", 3)
filename = "../riot_api/data.csv"

In [83]:
def loaddataset(filename):
    # Python program to read CSV file without header 
    # Import necessary packages 
    import csv 
    df = pd.DataFrame(columns=['Champion','Win','Lose'])
    # Open file 
    with open(filename) as file_obj: 
        data = csv.reader(file_obj)
        #df.loc[len(df)] ={'Champion': 'Akali', 'Win': 1, 'Lose': 0}

        #print('Akali' in df['Champion'].values)


        for row in data:
            team1 = row[:5]
            team2 = row[5:10]
            win = row[10]
            if win == "0":
                for char in team1:
                    if char in df['Champion'].values:
                        df.loc[ df["Champion"] == char, "Win"] +=1

                    else:
                        df.loc[len(df)] ={'Champion': char, 'Win': 1, 'Lose': 0}

                for char in team2:
                    if char in df['Champion'].values:
                        df.loc[df['Champion'] == char,'Lose'] += 1
                    else:
                        df.loc[len(df)] ={'Champion': char, 'Win': 0, 'Lose': 1}
            else:
                for char in team1:
                    if char in df['Champion'].values:
                        df.loc[df["Champion"] == char,"Lose"] += 1
                    else:
                        df.loc[len(df)] ={'Champion': char, 'Win': 0, 'Lose': 1}
                for char in team2:
                    if char in df['Champion'].values:
                        df.loc[ df["Champion"] == char, "Win"] +=1
                    else:
                        df.loc[len(df)] ={'Champion': char, 'Win': 1, 'Lose': 0}
        return df

In [84]:
data = loaddataset(filename)
print(data)

       Champion    Win  Lose
0       Seraphine   1     1
1           Akali   4     3
2           Sivir   3     2
3           Swain   1     2
4           Braum   3     3
5        Nautilus   1     3
6      MonkeyKing   4     3
7           Teemo   4     5
8          Draven   2     2
9            Pyke   3     6
10           Nami   1     3
11        Nidalee   0     3
12         Khazix   3     2
13         Soraka   3     3
14          Yuumi   2     1
15         Velkoz   3     1
16       Tristana   2     2
17          Senna   2     4
18       Malphite   2     4
19            Jax   2     1
20           Gnar   1     2
21    TwistedFate   3     3
22          Sylas   2     0
23         Maokai   3     2
24          Neeko   3     1
25         Darius   1     1
26         Lucian   4     2
27            Lux   6     5
28        Chogath   4     4
29     Blitzcrank   2     3
30          Urgot   2     3
31          Nasus   0     3
32         Akshan   1     1
33    AurelionSol   3     1
34           Nunu   2     2
35        Warwick   0     1
36         Rammus   1     3
37        Caitlyn   4     4
38         Anivia   5     2
39           Zeri   2     0
40          Ivern   2     0
41         Xerath   0     4
42       JarvanIV   1     2
43           Ashe   4     6
44           Jinx   1     3
45          Varus   4     4
46           Shen   1     0
47         Illaoi   1     1
48        Hecarim   1     2
49          Quinn   2     1
50          Talon   2     2
51          Jayce   3     3
52          Kaisa   1     4
53         Irelia   2     1
54        Taliyah   0     1
55          Fiora   2     2
56           Sion   4     4
57       Katarina   2     3
58        Naafiri   1     3
59       Vladimir   2     1
60            Zoe   0     1
61          Kayle   3     1
62       Pantheon   3     2
63        Alistar   1     0
64        Shyvana   1     2
65     Tryndamere   4     0
66   Heimerdinger   1     1
67           Ekko   3     0
68          Leona   3     0
69        Morgana   3     3
70         LeeSin   0     3
71         Veigar   3     5
72          Galio   0     1
73         Ezreal   5     2
74       MasterYi   3     2
75          Xayah   5     0
76         RekSai   1     0
77           Fizz   3     3
78          Taric   2     1
79       Volibear   0     1
80          Vayne   4     3
81           Jhin   3     8
82       Aphelios   1     3
83             Vi   2     0
84           Zyra   2     0
85   FiddleSticks   1     3
86       Renekton   1     3
87         Viktor   1     3
88         Singed   4     0
89        Karthus   1     0
90         Twitch   5     3
91            Zed   1     2
92         Rumble   2     3
93          Garen   3     1
94         Thresh   4     1
95         Samira   1     0
96           Gwen   2     1
97         Qiyana   1     3
98           Udyr   1     3
99          Briar   1     1
100        Syndra   3     1
101         Karma   5     2
102        Yorick   1     1
103          Olaf   0     1
104          Rell   0     2
105      Nocturne   0     1
106          Ahri   0     6
107     Lissandra   3     0
108          Bard   2     2
109         Elise   2     0
110         Yasuo   1     0
111         Amumu   3     3
112   MissFortune   5     1
113           Vex   1     3
114      Malzahar   3     2
115          Sona   4     2
116         Corki   0     2
117          Ryze   0     3
118         Janna   2     3
119        Renata   1     1
120         Brand   1     5
121           Zac   1     0
122         Shaco   2     1
123         Viego   1     2
124       Belveth   0     2
125        Gragas   0     1
126     TahmKench   1     4
127       Orianna   4     0
128      Kassadin   1     0
129        Graves   1     1
130   Mordekaiser   1     1
131       Skarner   2     0
132       Camille   1     1
133    Cassiopeia   0     2
134        KogMaw   2     2
135          Kled   0     1
136        Zilean   2     1
137         Nilah   1     0
138         Milio   1     1
139       Leblanc   0     3
140       DrMundo   2     2
141          Lulu   1     2
142          Yone   2     1
143          Ornn   1     1
144         Ziggs   3     0
145         Riven   1     2
146     Gangplank   1     1
147        Aatrox   2     1
148         Annie   2     1
149         Poppy   0     1
150       Trundle   1     2
151         Diana   0     1
152          Kayn   1     0
153        Lillia   1     0
154       Kindred   0     1
155        Kennen   1     1
156       XinZhao   0     1
157       Sejuani   1     0
158         Rakan   1     0

In [142]:
data.describe()

       Frequency
count   135.000
mean      2.185
std       1.235
min       1.000
25%       1.000
50%       2.000
75%       3.000
max       6.000